body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:341px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:331px;
  height:275px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:275px;
}
#u1 {
  position:absolute;
  left:2px;
  top:130px;
  width:327px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:103px;
  top:30px;
  width:145px;
  height:46px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:46px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:31px;
  top:219px;
  width:288px;
  height:42px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:42px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:284px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:10px;
  top:87px;
  width:331px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:314px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:331px;
  height:1px;
}
#u7 {
  position:absolute;
  left:34px;
  top:111px;
  width:280px;
  height:85px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:85px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:309px;
  top:15px;
  width:25px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
